.article_card {
    width: 310px;
    height: 430px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;

    .aImg {
        width: 100%;
        flex-basis: 50%;
        overflow: hidden;
        @include allCenter();
        align-items: flex-start;

        img {
            width: 100%;
        }
    }

    .aContent {
        flex-basis: 50%;
        width: 100%;
        padding: 10px;

        h2 {
            color: white;
            font-size: 18px;
            font-weight: 600;
        }

        p {
            color: white;
            font-size: 12px;
        }

        .read_more {
            width: 270px;
            padding: 10px;
            font-size: 12px;
            color: white;
        }
    }

}

.threadCard {
    width: 270px;
    height: 250px;
    @include bgBlur();
    overflow: hidden;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    z-index: 3;
    cursor: pointer;

    .thread_profile {
        height: 50px;
        width: 100%;
        @include allCenter();
        justify-content: flex-start;

        img {
            width: 30px;
            height: 30px;
            border-radius: 50%;
        }

        h2 {
            font-size: 13px;
            color: white;
            margin-left: 10px;
            font-weight: bold;
            text-transform: uppercase;
        }
    }

    .thread_main {
        height: 150px;
        width: 100%;
        text-align: start;

        p {
            color: white;
            font-size: 11px;

        }
    }

    .thread_actions {
        display: flex;
        padding: 5px;
        width: 100%;
        height: 50px;
        text-align: start;
        align-items: flex-end;
        border-top: 0.3px solid rgba(255, 255, 255, 0.17);
        a,
        button {
            font-size: 18px;
            color: white;
            margin: 0 10px;
            font-weight: 300;
        }

    }
}