.article_card {
    width: 310px;
    height: 350px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;

    .aImg {
        width: 100%;
        flex-basis: 50%;
        overflow: hidden;
        @include allCenter();
        align-items: flex-start;

        img {
            width: 100%;
        }
    }

    .aContent {
        flex-basis: 50%;
        width: 100%;
        padding: 10px;

        h2 {
            color: white;
            font-size: 18px;
        }

        p {
            color: rgb(192, 190, 190);
            font-size: 10px;
        }

        .read_more {
            width: 270px;
            padding: 10px;
            font-size: 12px;
            color: white;
        }
    }

}

.thread_container {
    width: 500px;
}

@media (max-width : 600px) {
    .thread_container {
        width: 300px;
    }
}

.threadCard {
    width: 100%;
    min-height: 200px;
    max-height: 300px;
    overflow: hidden;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
    z-index: 3;
    border: 0.2px solid rgba(233, 229, 229, 0.26);

    .thread_profile {
        height: 40px;
        width: 100%;
        @include allCenter();
        justify-content: flex-start;

        img {
            width: 30px;
            height: 30px;
            border-radius: 50%;
        }

        h2 {
            font-size: 13px;
            color: white;
            margin-left: 10px;
            font-weight: bold;
            text-transform: capitalize;
        }
    }

    .thread_main {
        min-height: 100px;
        max-height: 150px;
        width: 100%;
        text-align: start;

        p {
            color: white;
            font-size: 11px;

        }
    }

    .thread_actions {
        display: flex;
        padding: 5px;
        width: 100%;
        height: 40px;
        align-items: flex-end;
        justify-content: space-between;

        a,
        button {
            font-size: 13px;
            color: white;
            margin: 0 10px;
            font-weight: 300;
            cursor: pointer;
        }

    }
}

.thread_profile {
    width: 100%;
    @include allCenter();
}

.comment_thread {
    width: 100%;
    display: flex;
    flex-direction: column;

    .post {
        width: 100%;
        display: flex;
        border-bottom: 0.2px solid rgba(233, 229, 229, 0.26);

        input {
            width: 80%;
            padding: 10px;
            background-color: rgba(229, 220, 220, 0.111);
            outline: none;
            color: white;
            font-size: 12px;
        }

        button {
            width: 25%;
            font-size: 12px
        }
    }
}

.user_comment {
    width: 100%;
    position: relative;
    min-height: 100px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: 10px;
    z-index: 2;
    border: 0.2px solid rgba(233, 229, 229, 0.26);

    div {
        width: 100%;
        height: 50px;
        align-items: center;
        display: flex;
        img {
            width: 30px;
            height: 30px;
            border-radius: 50%;

        }
        h1 {
            font-size: 13px;
            color: white;
            margin-left: 10px;
            font-weight: bold;
            text-transform: capitalize;
        }
    }
    p {
        color: white;
        font-size: 11px;
        margin: 10px auto;
        width: 100%;

    }
}

