.nav_bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 100vw;
    height: 60px;
    color: white;
    padding-left: 15px;
    padding-right: 15px;
    z-index: 9;
    overflow: hidden;
}
.fixed_blur {
    background: rgba(11, 12, 17, 0.527);
    backdrop-filter: blur(5px);
    backface-visibility: hidden;
    position: fixed;
    z-index: 9;
}
.relative_bg {
    position: relative;
}
.logo {
    a {
    font-family: $logoFont;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 1px;
    text-decoration: none;
    color: white;
    margin-left: 15px;
    }
} 

.nav_list {
    flex-basis: 45%;
    z-index: 9;
    @include starterCss(100%, 55%);
    a {
        color: $text1;
        font-size: $contentFont;
        margin: auto 2rem;
        text-decoration: none;
    }
    .glow {
        color: $hoverText;
        text-shadow: $textShadow;
    }
}

.nav_list a:hover {
    color: $hoverText;
    text-shadow: $textShadow;
}
.contact_btn {
    @include mainBtn( $btnGradient1 ,  $btnShadow1)
}
.login_btn {
    @include mainBtn( $btnGradient2 ,  $btnShadow2)
}
.nav_right {
    display: flex;
    gap: 10px;
}
@media (max-width : 900px) {
    .nav_list {
        a {
            margin: auto 10px;
        }
    }
    .contact_btn, .login_btn {
        padding: 8px 18px;
    }
}
.login_box {
    @include bgBlur()
}
.bottom_nav_list {
    @include starterCss(50px, 100%);
    overflow-x: hidden;
    z-index: 9;
    justify-content: space-around;
    a {
        color: $text1;
        font-size: $contentFont;
        margin: auto 5px;
        text-decoration: none;
        display: flex;
        flex-direction: column;
    }
    position: fixed;
    bottom: 0;
    display: none;
}
.bottom_nav_list a:hover {
    color: $hoverText;
    text-shadow: $textShadow;
}


@media (max-width : 700px) {
    .nav_list {
        display: none;
    }
    .bottom_nav_list {
        display: flex;
    }
    .nav_right {
        gap: 5px;
        a {
            margin: 5px ;
        }
    }

}
@media (max-width : 500px) {
   .contact_btn {
    display: none;
   }

}