@keyframes slide {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

.service_box{
    overflow: hidden;
    background-color: none;
    display: flex;
    white-space: nowrap;
    position: relative;
    overflow-x: hidden;
    mask-image: linear-gradient(
    to right,
    hsl(0 0% 0% / 0),
    hsl(0 0% 0% / 1) 10%,
    hsl(0 0% 0% / 1) 90%,
    hsl(0 0% 0% / 0));

}

.service_box:hover .card_box {
    animation-play-state:paused;
}

.card_box {
    margin: 10px auto;
    animation: 15s slide infinite linear;
   
    display: flex;
    width: 1600px;
    background-color: none;
    white-space: nowrap    ;
    margin-right: 20px;
}

.service_card:hover {
    background: var(--black-gradient);
    box-shadow: var(--card-shadow);
}
.service_card {
    min-width:  250px;
    max-width: 250px;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 10px;
    flex-direction: column;
    // background : linear-gradient(rgb(14, 14, 14), rgb(0, 0, 0));
    padding: 10px;
    border-radius: 20px;
    flex: 0;
    cursor: pointer;

    .img_box {
        width: 60px;
        height: 60px;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
    } 
    .txt_box {
        width: 100%;
        overflow: hidden;
        padding-top: 40px;
        text-align: center;
        text-wrap: wrap;
    }
}


